[MASTER]

init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]

disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    invalid-name,
    import-error,
    wrong-import-order
    disable=C0114,C0115,C0116,C0301

[REPORTS]

reports=no

